<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h3>Task #4</h3>
<button (click)="changeValue()">Change Value</button>
<hr>
<app-my-component [parent]="parentValue" ></app-my-component>

<br>

<h3>Task #5</h3>
<app-parent-counter></app-parent-counter>

<br>

<h3>Task #6</h3>
<img src="assets/img/test-.png" width="auto" height="100" imgFallback>

</body>
</html>
